*{
    box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #EDEAE7;
  justify-content:center;
  align-items:center;

  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
      
  }
  @font-face {
    font-family: 'Cinzel-Medium';
    src: local('Cincel'), url(./Components/user-profile/Assets/Fonts/Cinzel-Medium.ttf) format('woff');
  }
  @font-face {
    font-family: 'RedRose-Medium';
    src: local('RedRose'), url(./Components/user-profile/Assets/Fonts/RedRose-Medium.ttf) format('woff');
  }